@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: gray;
}

.container {
  max-width: 470px;
  margin: 30px auto;
}

@media only screen and (max-width: 600px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}